html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-size: 0.875rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid #dfdfdf;
}